#container {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  /* justify-content: center; */
}

h1 {
  color: rgb(161, 255, 168);
}

#list {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  /* width: 800px; */
  /* text-align: center; */
  /* align-items: center; */
}

.item {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
  /* margin: auto; */
}

.item div {
  /* padding: 1rem; */
  border-radius: 10px;
  width: 150;
  height: 75;
  /* margin: auto; */
  /* flex: 1 2 auto; */
}

.numbers {
  background-color: blanchedalmond;
}

.date {
  background-color: steelblue;
}

.categories {
  background-color: beige;
}

.account:nth-child(1) {
  background-color: azure;
}

.account:nth-child(2) {
  background-color: thistle;
}

.title {
  background-color: beige;
}

.numbers {
  background-color: blanchedalmond;
}

#create {
  background-color: brown;
  float: right;
  /* display: none; */
}
