#container {
  text-align: center;
  /* margin:auto; */
  display: flex;
  flex-flow:column wrap;
  border: 1px solid black;
  /* justify-content: center; */
  
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  /* font-size: 1.25rem; */
}

#list {
  margin: auto;
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* border: 1px solid black; */
  /* width: 800px; */
  /* text-align: center; */
  /* align-items: center; */
  /* background: linear-gradient(-45deg, pink, beige) */
}

.item {
  display: flex;
  flex-flow: row wrap;
  margin: 3rem;
  /* flex-flow: column nowrap; */
  /* justify-content: center; */
  /* margin: auto; */
}

.item div {
  /* flex-flow: column wrap; */
  padding: 1rem;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  /* width: 125; */
  /* height: 60; */
  font-size: 1.5rem;
  /* margin: auto; */
  /* flex: 1 2 auto; */
}

.item > div {
  background: linear-gradient(45deg, thistle, beige, azure);
}

.numbers {
  /* background-color: white; */
}

.date {
  background-color: beige;
}

.categories {
  background-color: beige;
}

.title {
  background-color: beige;
}

#create {
  background: linear-gradient(45deg, thistle, beige, azure);
  font-size: 4rem;
  margin-top: 2rem;
  /* float: right; */
  /* display: none; */
}